h1{
    color:darkkhaki;
}
a.przycisk {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: darkolivegreen;
    padding: 40px 60px 40px 60px;
    margin: 7px 7px 7px 7px;
    font-size: 1,3em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    box-shadow: 10px 5px 5px black;
}

a:hover.przycisk {
    box-shadow:none;
}
input.ble {
  width: 10%;
    color: green;
    margin: 3px 10px 3px 10px;
}