
.wiersz
{
    display: table;
    width: 100%;
    margin-bottom: 0.5em;
}

a.naglowek
{
    color:#cc0000;
    text-decoration: none;
}

a:hover.naglowek{
    color:#ff0000;
}

.col-center
{
    background: white;
    width: 100%; 
    display: table-cell;
    padding: 16px;
}

.col-left-right
{
    width: 0%;
    display: table-cell;
    padding: 0px;
}

body, html
{
    background: whitesmoke ;
}

.przycisk
{
    /* background: white; */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: darkolivegreen;
    padding: 140px 140px 140px 140px;
    margin: 7px 7px 7px 7px;
    font-size: 1,3em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    box-shadow: 10px 5px 5px black;
}

.dlugosci
{
    background-image: url('linijka.jpg');
    background-size: 560px;
    border: 2px solid;
}


a:hover.przycisk
{
    box-shadow:none;
}
input.ble
{
  width: 10%;
    color: green;
    margin: 3px 10px 3px 10px;
}

table
{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td
{
 border: 1px solid black;   
}

.btn {
    min-width: 150px;
    padding: 15px 10px;
    margin: 20px;
    background: rgb(214, 214, 214);
    border: none;
    border-radius: 25px;
    color: rgb(50, 207, 207);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
      7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  }
  
  .btn:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
      inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  }
  



